<h1>SIGN UP</h1>
<%= form_for :user, url: api_users_path do |f| %>
	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :email %><br>
		<%= f.text_area :email %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>